<a href="https://colab.research.google.com/github/JayChaoNTPUACC/Early-Warning-For-Stocks-With-Abnormal-Trading-Conditions-Based-On-Generative-Adversarial-Networks/blob/main/GetData/getdata.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
#安裝套件
!pip install ffn
!pip install FinMind
url = 'https://launchpad.net/~mario-mariomedina/+archive/ubuntu/talib/+files'
ext = '0.4.0-oneiric1_amd64.deb -qO'
!wget $url/libta-lib0_$ext libta.deb
!wget $url/ta-lib0-dev_$ext ta.deb
!dpkg -i libta.deb ta.deb
!pip install ta-lib

Collecting ffn
  Downloading ffn-0.3.7-py2.py3-none-any.whl (26 kB)
Requirement already satisfied: decorator>=4 in /usr/local/lib/python3.10/dist-packages (from ffn) (4.4.2)
Requirement already satisfied: matplotlib>=1 in /usr/local/lib/python3.10/dist-packages (from ffn) (3.7.1)
Requirement already satisfied: numpy>=1.5 in /usr/local/lib/python3.10/dist-packages (from ffn) (1.23.5)
Requirement already satisfied: pandas>=0.19 in /usr/local/lib/python3.10/dist-packages (from ffn) (1.5.3)
Requirement already satisfied: pandas-datareader>=0.2 in /usr/local/lib/python3.10/dist-packages (from ffn) (0.10.0)
Requirement already satisfied: scikit-learn>=0.15 in /usr/local/lib/python3.10/dist-packages (from ffn) (1.2.2)
Requirement already satisfied: scipy>=0.15 in /usr/local/lib/python3.10/dist-packages (from ffn) (1.11.3)
Requirement already satisfied: tabulate>=0.7.5 in /usr/local/lib/python3.10/dist-packages (from ffn) (0.9.0)
Requirement already satisfied: yfinance>=0.2 in /usr/local/lib/python3.10/dist-packages (from ffn) (0.2.31)
Requirement already satisfied: contourpy>=1.0.1 in /usr/local/lib/python3.10/dist-packages (from matplotlib>=1->ffn) (1.2.0)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.10/dist-packages (from matplotlib>=1->ffn) (0.12.1)
Requirement already satisfied: fonttools>=4.22.0 in /usr/local/lib/python3.10/dist-packages (from matplotlib>=1->ffn) (4.44.3)
Requirement already satisfied: kiwisolver>=1.0.1 in /usr/local/lib/python3.10/dist-packages (from matplotlib>=1->ffn) (1.4.5)
Requirement already satisfied: packaging>=20.0 in /usr/local/lib/python3.10/dist-packages (from matplotlib>=1->ffn) (23.2)
Requirement already satisfied: pillow>=6.2.0 in /usr/local/lib/python3.10/dist-packages (from matplotlib>=1->ffn) (9.4.0)
Requirement already satisfied: pyparsing>=2.3.1 in /usr/local/lib/python3.10/dist-packages (from matplotlib>=1->ffn) (3.1.1)
Requirement already satisfied: python-dateutil>=2.7 in /usr/local/lib/python3.10/dist-packages (from matplotlib>=1->ffn) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.10/dist-packages (from pandas>=0.19->ffn) (2023.3.post1)
Requirement already satisfied: lxml in /usr/local/lib/python3.10/dist-packages (from pandas-datareader>=0.2->ffn) (4.9.3)
Requirement already satisfied: requests>=2.19.0 in /usr/local/lib/python3.10/dist-packages (from pandas-datareader>=0.2->ffn) (2.31.0)
Requirement already satisfied: joblib>=1.1.1 in /usr/local/lib/python3.10/dist-packages (from scikit-learn>=0.15->ffn) (1.3.2)
Requirement already satisfied: threadpoolctl>=2.0.0 in /usr/local/lib/python3.10/dist-packages (from scikit-learn>=0.15->ffn) (3.2.0)
Requirement already satisfied: multitasking>=0.0.7 in /usr/local/lib/python3.10/dist-packages (from yfinance>=0.2->ffn) (0.0.11)
Requirement already satisfied: appdirs>=1.4.4 in /usr/local/lib/python3.10/dist-packages (from yfinance>=0.2->ffn) (1.4.4)
Requirement already satisfied: frozendict>=2.3.4 in /usr/local/lib/python3.10/dist-packages (from yfinance>=0.2->ffn) (2.3.8)
Requirement already satisfied: peewee>=3.16.2 in /usr/local/lib/python3.10/dist-packages (from yfinance>=0.2->ffn) (3.17.0)
Requirement already satisfied: beautifulsoup4>=4.11.1 in /usr/local/lib/python3.10/dist-packages (from yfinance>=0.2->ffn) (4.11.2)
Requirement already satisfied: html5lib>=1.1 in /usr/local/lib/python3.10/dist-packages (from yfinance>=0.2->ffn) (1.1)
Requirement already satisfied: soupsieve>1.2 in /usr/local/lib/python3.10/dist-packages (from beautifulsoup4>=4.11.1->yfinance>=0.2->ffn) (2.5)
Requirement already satisfied: six>=1.9 in /usr/local/lib/python3.10/dist-packages (from html5lib>=1.1->yfinance>=0.2->ffn) (1.16.0)
Requirement already satisfied: webencodings in /usr/local/lib/python3.10/dist-packages (from html5lib>=1.1->yfinance>=0.2->ffn) (0.5.1)
Requirement already satisfied: charset-normalizer<4,>=2 in /usr/local/lib/python3.10/dist-packages (from requests>=2.19.0->pandas-datareader>=0.2->ffn) (3.3.2)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.10/dist-packages (from requests>=2.19.0->pandas-datareader>=0.2->ffn) (3.4)
Requirement already satisfied: urllib3<3,>=1.21.1 in /usr/local/lib/python3.10/dist-packages (from requests>=2.19.0->pandas-datareader>=0.2->ffn) (2.0.7)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.10/dist-packages (from requests>=2.19.0->pandas-datareader>=0.2->ffn) (2023.7.22)
Installing collected packages: ffn
Successfully installed ffn-0.3.7
Collecting FinMind
  Downloading FinMind-1.6.3-py3-none-any.whl (49 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 49.1/49.1 kB 928.2 kB/s eta 0:00:00
Requirement already satisfied: pandas>=1.1.5 in /usr/local/lib/python3.10/dist-packages (from FinMind) (1.5.3)
Requirement already satisfied: numpy>=1.19.5 in /usr/local/lib/python3.10/dist-packages (from FinMind) (1.23.5)
Requirement already satisfied: requests>=2.23.0 in /usr/local/lib/python3.10/dist-packages (from FinMind) (2.31.0)
Requirement already satisfied: pydantic>=1.6.1 in /usr/local/lib/python3.10/dist-packages (from FinMind) (1.10.13)
Collecting ta~=0.5.25 (from FinMind)
  Downloading ta-0.5.25.tar.gz (20 kB)
  Preparing metadata (setup.py) ... done
Requirement already satisfied: pytest>=6.2.2 in /usr/local/lib/python3.10/dist-packages (from FinMind) (7.4.3)
Requirement already satisfied: lxml>=4.6.3 in /usr/local/lib/python3.10/dist-packages (from FinMind) (4.9.3)
Collecting pyecharts>=1.9.0 (from FinMind)
  Downloading pyecharts-2.0.4-py3-none-any.whl (147 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 147.7/147.7 kB 5.7 MB/s eta 0:00:00
Requirement already satisfied: ipython>=7.16.1 in /usr/local/lib/python3.10/dist-packages (from FinMind) (7.34.0)
Collecting loguru>=0.5.3 (from FinMind)
  Downloading loguru-0.7.2-py3-none-any.whl (62 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 62.5/62.5 kB 6.1 MB/s eta 0:00:00
Requirement already satisfied: setuptools>=49.2.1 in /usr/local/lib/python3.10/dist-packages (from FinMind) (67.7.2)
Requirement already satisfied: aiohttp>=3.7.4.post0 in /usr/local/lib/python3.10/dist-packages (from FinMind) (3.8.6)
Requirement already satisfied: flask>=2.0.1 in /usr/local/lib/python3.10/dist-packages (from FinMind) (2.2.5)
Requirement already satisfied: importlib-metadata>=4.8.1 in /usr/local/lib/python3.10/dist-packages (from FinMind) (6.8.0)
Requirement already satisfied: attrs>=17.3.0 in /usr/local/lib/python3.10/dist-packages (from aiohttp>=3.7.4.post0->FinMind) (23.1.0)
Requirement already satisfied: charset-normalizer<4.0,>=2.0 in /usr/local/lib/python3.10/dist-packages (from aiohttp>=3.7.4.post0->FinMind) (3.3.2)
Requirement already satisfied: multidict<7.0,>=4.5 in /usr/local/lib/python3.10/dist-packages (from aiohttp>=3.7.4.post0->FinMind) (6.0.4)
Requirement already satisfied: async-timeout<5.0,>=4.0.0a3 in /usr/local/lib/python3.10/dist-packages (from aiohttp>=3.7.4.post0->FinMind) (4.0.3)
Requirement already satisfied: yarl<2.0,>=1.0 in /usr/local/lib/python3.10/dist-packages (from aiohttp>=3.7.4.post0->FinMind) (1.9.2)
Requirement already satisfied: frozenlist>=1.1.1 in /usr/local/lib/python3.10/dist-packages (from aiohttp>=3.7.4.post0->FinMind) (1.4.0)
Requirement already satisfied: aiosignal>=1.1.2 in /usr/local/lib/python3.10/dist-packages (from aiohttp>=3.7.4.post0->FinMind) (1.3.1)
Requirement already satisfied: Werkzeug>=2.2.2 in /usr/local/lib/python3.10/dist-packages (from flask>=2.0.1->FinMind) (3.0.1)
Requirement already satisfied: Jinja2>=3.0 in /usr/local/lib/python3.10/dist-packages (from flask>=2.0.1->FinMind) (3.1.2)
Requirement already satisfied: itsdangerous>=2.0 in /usr/local/lib/python3.10/dist-packages (from flask>=2.0.1->FinMind) (2.1.2)
Requirement already satisfied: click>=8.0 in /usr/local/lib/python3.10/dist-packages (from flask>=2.0.1->FinMind) (8.1.7)
Requirement already satisfied: zipp>=0.5 in /usr/local/lib/python3.10/dist-packages (from importlib-metadata>=4.8.1->FinMind) (3.17.0)
Collecting jedi>=0.16 (from ipython>=7.16.1->FinMind)
  Downloading jedi-0.19.1-py2.py3-none-any.whl (1.6 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 1.6/1.6 MB 27.1 MB/s eta 0:00:00
Requirement already satisfied: decorator in /usr/local/lib/python3.10/dist-packages (from ipython>=7.16.1->FinMind) (4.4.2)
Requirement already satisfied: pickleshare in /usr/local/lib/python3.10/dist-packages (from ipython>=7.16.1->FinMind) (0.7.5)
Requirement already satisfied: traitlets>=4.2 in /usr/local/lib/python3.10/dist-packages (from ipython>=7.16.1->FinMind) (5.7.1)
Requirement already satisfied: prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0 in /usr/local/lib/python3.10/dist-packages (from ipython>=7.16.1->FinMind) (3.0.41)
Requirement already satisfied: pygments in /usr/local/lib/python3.10/dist-packages (from ipython>=7.16.1->FinMind) (2.16.1)
Requirement already satisfied: backcall in /usr/local/lib/python3.10/dist-packages (from ipython>=7.16.1->FinMind) (0.2.0)
Requirement already satisfied: matplotlib-inline in /usr/local/lib/python3.10/dist-packages (from ipython>=7.16.1->FinMind) (0.1.6)
Requirement already satisfied: pexpect>4.3 in /usr/local/lib/python3.10/dist-packages (from ipython>=7.16.1->FinMind) (4.8.0)
Requirement already satisfied: python-dateutil>=2.8.1 in /usr/local/lib/python3.10/dist-packages (from pandas>=1.1.5->FinMind) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.10/dist-packages (from pandas>=1.1.5->FinMind) (2023.3.post1)
Requirement already satisfied: typing-extensions>=4.2.0 in /usr/local/lib/python3.10/dist-packages (from pydantic>=1.6.1->FinMind) (4.5.0)
Requirement already satisfied: prettytable in /usr/local/lib/python3.10/dist-packages (from pyecharts>=1.9.0->FinMind) (3.9.0)
Collecting simplejson (from pyecharts>=1.9.0->FinMind)
  Downloading simplejson-3.19.2-cp310-cp310-manylinux_2_5_x86_64.manylinux1_x86_64.manylinux_2_17_x86_64.manylinux2014_x86_64.whl (137 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 137.9/137.9 kB 13.8 MB/s eta 0:00:00
Requirement already satisfied: iniconfig in /usr/local/lib/python3.10/dist-packages (from pytest>=6.2.2->FinMind) (2.0.0)
Requirement already satisfied: packaging in /usr/local/lib/python3.10/dist-packages (from pytest>=6.2.2->FinMind) (23.2)
Requirement already satisfied: pluggy<2.0,>=0.12 in /usr/local/lib/python3.10/dist-packages (from pytest>=6.2.2->FinMind) (1.3.0)
Requirement already satisfied: exceptiongroup>=1.0.0rc8 in /usr/local/lib/python3.10/dist-packages (from pytest>=6.2.2->FinMind) (1.1.3)
Requirement already satisfied: tomli>=1.0.0 in /usr/local/lib/python3.10/dist-packages (from pytest>=6.2.2->FinMind) (2.0.1)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.10/dist-packages (from requests>=2.23.0->FinMind) (3.4)
Requirement already satisfied: urllib3<3,>=1.21.1 in /usr/local/lib/python3.10/dist-packages (from requests>=2.23.0->FinMind) (2.0.7)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.10/dist-packages (from requests>=2.23.0->FinMind) (2023.7.22)
Requirement already satisfied: parso<0.9.0,>=0.8.3 in /usr/local/lib/python3.10/dist-packages (from jedi>=0.16->ipython>=7.16.1->FinMind) (0.8.3)
Requirement already satisfied: MarkupSafe>=2.0 in /usr/local/lib/python3.10/dist-packages (from Jinja2>=3.0->flask>=2.0.1->FinMind) (2.1.3)
Requirement already satisfied: ptyprocess>=0.5 in /usr/local/lib/python3.10/dist-packages (from pexpect>4.3->ipython>=7.16.1->FinMind) (0.7.0)
Requirement already satisfied: wcwidth in /usr/local/lib/python3.10/dist-packages (from prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0->ipython>=7.16.1->FinMind) (0.2.10)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.10/dist-packages (from python-dateutil>=2.8.1->pandas>=1.1.5->FinMind) (1.16.0)
Building wheels for collected packages: ta
  Building wheel for ta (setup.py) ... done
  Created wheel for ta: filename=ta-0.5.25-py3-none-any.whl size=24862 sha256=da0301c82cb79b85225c372f6c20cd3bc0991ff6c508d2c0ba5fa72d0c2dd5ce
  Stored in directory: /root/.cache/pip/wheels/d4/bd/c4/0dda911b5461ee856352cd8c9e16472229bb51c95e74b74c08
Successfully built ta
Installing collected packages: simplejson, loguru, jedi, pyecharts, ta, FinMind
Successfully installed FinMind-1.6.3 jedi-0.19.1 loguru-0.7.2 pyecharts-2.0.4 simplejson-3.19.2 ta-0.5.25
Selecting previously unselected package libta-lib0.
(Reading database ... 120880 files and directories currently installed.)
Preparing to unpack libta.deb ...
Unpacking libta-lib0 (0.4.0-oneiric1) ...
Selecting previously unselected package ta-lib0-dev.
Preparing to unpack ta.deb ...
Unpacking ta-lib0-dev (0.4.0-oneiric1) ...
Setting up libta-lib0 (0.4.0-oneiric1) ...
Setting up ta-lib0-dev (0.4.0-oneiric1) ...
Processing triggers for man-db (2.10.2-1) ...
Processing triggers for libc-bin (2.35-0ubuntu3.4) ...
/sbin/ldconfig.real: /usr/local/lib/libtbbbind_2_0.so.3 is not a symbolic link

/sbin/ldconfig.real: /usr/local/lib/libtbbbind.so.3 is not a symbolic link

/sbin/ldconfig.real: /usr/local/lib/libtbbbind_2_5.so.3 is not a symbolic link

/sbin/ldconfig.real: /usr/local/lib/libtbbmalloc_proxy.so.2 is not a symbolic link

/sbin/ldconfig.real: /usr/local/lib/libtbb.so.12 is not a symbolic link

/sbin/ldconfig.real: /usr/local/lib/libtbbmalloc.so.2 is not a symbolic link

Collecting ta-lib
  Downloading TA-Lib-0.4.28.tar.gz (357 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 357.1/357.1 kB 3.9 MB/s eta 0:00:00
  Installing build dependencies ... done
  Getting requirements to build wheel ... done
  Installing backend dependencies ... done
  Preparing metadata (pyproject.toml) ... done
Requirement already satisfied: numpy in /usr/local/lib/python3.10/dist-packages (from ta-lib) (1.23.5)
Building wheels for collected packages: ta-lib
  Building wheel for ta-lib (pyproject.toml) ... done
  Created wheel for ta-lib: filename=TA_Lib-0.4.28-cp310-cp310-linux_x86_64.whl size=2017632 sha256=06194e59d4f19b679e9d321e0747d92ff706befbacea89532f30f0534de7d618
  Stored in directory: /root/.cache/pip/wheels/66/54/9d/10bfd00931c0c993f373269d350635df520b5064e5290a9d94
Successfully built ta-lib
Installing collected packages: ta-lib
Successfully installed ta-lib-0.4.28

In [2]:
#import套件
import os
import pandas as pd
import ffn
import FinMind
import talib
from talib import abstract
import requests
from datetime import datetime,timedelta

In [3]:
#讀取資料
df_punishdata = pd.read_excel("punish.xlsx")
#將證券代號型別轉為字串
df_punishdata["證券代號"] = df_punishdata["證券代號"].astype(str)

In [4]:
df_punishdata

         公布日期  證券代號  證券名稱           處置條件  代碼     處置開始時間     處置結束時間
0   112/03/24  1435    中福           連續三次   1  112/03/27  112/04/12
1   112/06/28  1471    首利           連續三次   1  112/06/29  112/07/12
2   112/06/29  1519    華城  最近三十個營業日已有十二次   6  112/06/30  112/07/13
3   112/04/19  1529  樂事綠能           連續三次   1  112/04/20  112/05/04
4   112/04/28  1727   中華化           連續三次   1  112/05/02  112/05/15
5   112/04/20  1810    和成           連續三次   1  112/04/21  112/05/05
6   112/06/28  2059    川湖           連續三次   1  112/06/29  112/07/12
7   112/07/21  2316   楠梓電           連續三次   1  112/07/24  112/08/04
8   112/07/31  2329    華泰           連續三次   1  112/08/01  112/08/14
9   112/07/19  2356   英業達           連續三次   1  112/07/20  112/08/02
10  112/09/08  2358    廷鑫           連續三次   1  112/09/11  112/09/22
11  112/10/17  2363    矽統    連續五次及當日沖銷標準   4  112/10/18  112/11/02
12  112/10/18  2364    倫飛           連續三次   1  112/10/19  112/11/01
13  112/07/17  2388    威盛           連續三次   1  112/07/18  112/07/31
14  112/10/06  2417    圓剛    連續三次及當日沖銷標準   2  112/10/11  112/10/26
15  112/07/27  2421    建準    最近十個營業日已有六次   5  112/07/28  112/08/10
16  112/05/08  2424    隴華           連續三次   1  112/05/09  112/05/22
17  112/05/22  2427   三商電           連續三次   1  112/05/23  112/06/05
18  112/03/10  2429   銘旺科           連續三次   1  112/03/13  112/03/24
19  112/02/15  2453    凌群    連續三次及當日沖銷標準   2  112/02/16  112/03/07
20  112/06/20  2468    華經           連續三次   1  112/06/21  112/07/06
21  112/04/07  2482    連宇    最近十個營業日已有六次   5  112/04/10  112/04/21
22  112/02/06  2482    連宇    連續三次及當日沖銷標準   2  112/02/07  112/02/22
23  112/04/19  2630    亞航           連續三次   1  112/04/20  112/05/04
24  112/06/26  2722    夏都    連續三次及當日沖銷標準   2  112/06/27  112/07/12
25  112/02/24  2739    寒舍           連續三次   1  112/03/01  112/03/14
26  112/09/07  2816   旺旺保           連續五次   3  112/09/08  112/09/21
27  112/07/06  3013   晟銘電           連續三次   1  112/07/07  112/07/20
28  112/07/24  3035    智原    連續三次及當日沖銷標準   2  112/07/25  112/08/09
29  112/10/25  3041    揚智           連續三次   1  112/10/26  112/11/08
30  112/08/18  3043    科風           連續三次   1  112/08/21  112/09/01
31  112/04/21  3058    立德           連續三次   1  112/04/24  112/05/08
32  112/02/23  3058    立德           連續五次   3  112/02/24  112/03/13
33  112/07/13  3231    緯創    最近十個營業日已有六次   5  112/07/14  112/07/27
34  112/04/14  3308    聯德           連續三次   1  112/04/17  112/04/28
35  112/07/19  3706    神達           連續三次   1  112/07/20  112/08/02
36  112/08/24  6117    迎廣    連續三次及當日沖銷標準   2  112/08/25  112/09/11
37  112/07/07  6117    迎廣           連續三次   1  112/07/10  112/07/21
38  112/06/26  6120    達運           連續五次   3  112/06/27  112/07/10
39  112/06/19  6235    華孚    連續五次及當日沖銷標準   4  112/06/20  112/07/07
40  112/04/24  6235    華孚    最近十個營業日已有六次   5  112/04/25  112/05/09
41  112/07/20  6442    光聖           連續三次   1  112/07/21  112/08/03
42  112/07/20  6579    研揚           連續三次   1  112/07/21  112/08/03
43  112/06/12  6625    必應    連續五次及當日沖銷標準   4  112/06/13  112/06/30
44  112/03/06  8033    雷虎    最近十個營業日已有六次   5  112/03/07  112/03/20
45  112/07/24  8210    勤誠    最近十個營業日已有六次   5  112/07/25  112/08/07
46  112/03/27  8478  東哥遊艇    連續三次及當日沖銷標準   2  112/03/28  112/04/17
47  112/02/22  8940   新天地           連續三次   1  112/02/23  112/03/10
48  112/06/07  8996    高力           連續五次   3  112/06/08  112/06/21
49  112/03/02  8996    高力    連續五次及當日沖銷標準   4  112/03/03  112/03/20

In [5]:
# 以下幾個functions到時候再封裝成物件
# talib MACD is the moving average covergence divergence trend-following momentum indicator.
def ReturnMACD(close,fastperiod=12, slowperiod=26,signalperiod=9):
    return talib.MACD(close,fastperiod=fastperiod,slowperiod=slowperiod,signalperiod=signalperiod)

In [6]:
# talib RSI is the relative strength index momentum oscillator that measures the speed and change of price movements.
def ReturnRSI(close,timeperiod=10):
    return talib.RSI(close, timeperiod=timeperiod)

In [7]:
# talib BOLL are Billinger bands given by adding and subtrating the standard deviation on a simple moving average.
def ReturnBBANDS(close, timeperiod=5, matype=1):
    return abstract.BBANDS(close, timeperiod, matype)

In [8]:
# talib CCI is the comodity channel index momentum oscillator used to determine overbought and oversold levels.
def ReturnCCI(high, low, close, timeperiod=10):
    return talib.CCI(high, low, close, timeperiod)

In [9]:
# talib DX is the directional movement index, a momentum indicator that calculates the strength of the upward or downward trend over a given period.
def ReturnDX(high, low, close, timeperiod=10):
    return talib.DX(high, low, close, timeperiod=10)

In [10]:
# talib sma is a simple moving average.
def ReturnSMA(close,timeperiod=5):
    return talib.SMA(close, timeperiod)

In [11]:
i = 1
for index, row in df_punishdata.iterrows():
  stock_num = row["證券代號"]
  announced_day = str(int(row["公布日期"].split('/')[0])+1911) + "-" + str(row["公布日期"].split('/')[1]) + "-" + str(row["公布日期"].split('/')[2])
  # print(announced_day)
  stock_name = row["證券名稱"]
  stock_punishreason_kind = row["代碼"]
  punish_startdate = str(int(row["處置開始時間"].split('/')[0])+1911) + "-" + str(row["處置開始時間"].split('/')[1]) + "-" + str(row["處置開始時間"].split('/')[2])
  punish_enddate = str(int(row["處置結束時間"].split('/')[0])+1911) + "-" + str(row["處置結束時間"].split('/')[1]) + "-" + str(row["處置結束時間"].split('/')[2])
  url = "https://api.finmindtrade.com/api/v4/data"
  token = ""
  data_startdate = datetime.strftime(datetime.strptime(announced_day, '%Y-%m-%d') - timedelta(days = 182), '%Y-%m-%d')
  data_enddate = announced_day
  # print(data_startdate)
  # print(data_enddate)
  parameter = {
      "dataset": "TaiwanStockPrice",
      "data_id": stock_num,
      "start_date": data_startdate,
      "end_date": data_enddate,
      "token": token
  }
  get_stock_deal_info = pd.DataFrame(requests.get(url, params=parameter).json()["data"])
  print(get_stock_deal_info)
  print(get_stock_deal_info.close)
  print(ReturnMACD(get_stock_deal_info.close,12,26,9))
  #為何會排除1435是因為抓到的筆數都只有5筆無法產生技術指標
  if stock_num != "1435":
      #MACD部分 以下各部分到時候都可以封裝成物件的方式處理，精簡程式碼
      MACD_macd,MACD_macdsignal,MACD_macdhist = ReturnMACD(get_stock_deal_info.close,12,26,9)
      MACD_macd.name = "MACD_macd"
      MACD_macdsignal.name = "MACD_macdsignal"
      MACD_macdhist.name = "MACD_macdhist"
      # print(MACD_macd)
      # print(type(MACD_macd))
      get_stock_deal_info = pd.concat([get_stock_deal_info, MACD_macd], axis=1)
      get_stock_deal_info = pd.concat([get_stock_deal_info, MACD_macdsignal], axis=1)
      get_stock_deal_info = pd.concat([get_stock_deal_info, MACD_macdhist], axis=1)
      # print(get_stock_deal_info)

      # RSI
      RSI10 = ReturnRSI(get_stock_deal_info.close,10)
      RSI10.name = "RSI10"
      get_stock_deal_info = pd.concat([get_stock_deal_info,RSI10], axis = 1)

      # BOLL
      BOLL_Upper, BOLL_Middle, BOLL_Lower = talib.BBANDS(get_stock_deal_info.close,5,1)
      BOLL_Upper.name = "BOLL_Upper"
      BOLL_Middle.name = "BOLL_Middle"
      BOLL_Lower.name = "BOLL_Lower"
      get_stock_deal_info = pd.concat([get_stock_deal_info, BOLL_Upper], axis=1)
      get_stock_deal_info = pd.concat([get_stock_deal_info, BOLL_Middle], axis=1)
      get_stock_deal_info = pd.concat([get_stock_deal_info, BOLL_Lower], axis=1)

      # CCI
      CCI10 = ReturnCCI(get_stock_deal_info["max"].values, get_stock_deal_info["min"].values, get_stock_deal_info["close"].values,10)
      get_stock_deal_info = pd.concat([get_stock_deal_info, pd.DataFrame(CCI10,columns=["CCI10"])], axis = 1)

      # DX
      DX10 = ReturnDX(get_stock_deal_info["max"].values, get_stock_deal_info["min"].values, get_stock_deal_info["close"].values,10)
      get_stock_deal_info = pd.concat([get_stock_deal_info, pd.DataFrame(DX10,columns=["DX10"])], axis = 1)

      # SMA
      SMA5 = ReturnSMA(get_stock_deal_info.close,5)
      SMA5.name = "SMA5"
      get_stock_deal_info = pd.concat([get_stock_deal_info,SMA5], axis = 1)
      SMA10 = ReturnSMA(get_stock_deal_info.close,10)
      SMA10.name = "SMA10"
      get_stock_deal_info = pd.concat([get_stock_deal_info,SMA10], axis = 1)
      SMA20 = ReturnSMA(get_stock_deal_info.close,20)
      SMA20.name = "SMA20"
      get_stock_deal_info = pd.concat([get_stock_deal_info,SMA20], axis = 1)

      # 另外一種比較簡便的作法，不過結果怪怪的，因此手動設上面的function並呼叫計算結果
      # # ta_list = talib.get_functions()
      # # ta_list = ['HT_DCPERIOD','HT_DCPHASE','HT_PHASOR','HT_SINE','HT_TRENDMODE','MINMAXINDEX','MACD','RSI','BBANDS','CCI','DX','ADX','STOCH']
      # ta_list = ['MACD',"RSI","BBANDS"]
      # # ta_list = ['HT_DCPERIOD', 'HT_DCPHASE', 'HT_PHASOR', 'HT_SINE', 'HT_TRENDMODE', 'MAX', 'MAXINDEX', 'MIN', 'MININDEX', 'MINMAX', 'MINMAXINDEX', 'SUM', 'ACOS', 'ASIN', 'ATAN', 'CEIL', 'COS', 'COSH', 'EXP', 'FLOOR', 'LN', 'LOG10', 'SIN', 'SINH', 'SQRT', 'TAN', 'TANH', 'APO', 'CMO', 'MACD', 'MACDEXT', 'MACDFIX', 'MOM', 'PPO', 'ROC', 'ROCP', 'ROCR', 'ROCR100', 'RSI', 'STOCHRSI', 'TRIX', 'BBANDS', 'DEMA', 'EMA', 'HT_TRENDLINE', 'KAMA', 'MA', 'MAMA', 'MIDPOINT', 'SMA', 'T3', 'TEMA', 'TRIMA', 'WMA', 'LINEARREG', 'LINEARREG_ANGLE', 'LINEARREG_INTERCEPT', 'LINEARREG_SLOPE', 'STDDEV', 'TSF', 'VAR']
      # for x in ta_list:
      #     try:
      #         output = eval('abstract.'+x+'(get_stock_deal_info)')
      #         print(output)
      #         #print(type(output))
      #         output.name = x.lower() if type(output) == pd.core.series.Series else None
      #         print(get_stock_deal_info.tail(20))
      #         print(pd.DataFrame(output).tail(20))
      #         get_stock_deal_info = pd.concat([get_stock_deal_info, pd.DataFrame(output)], axis=1)
      #         #print(get_stock_deal_info)
      #     except:
      #         print(x)
      #         # ta_list.remove(x)
      # print(ta_list)


      if i == 1:
        df_alldatas = get_stock_deal_info.tail(20)
      else:
        df_alldatas = pd.concat([df_alldatas, get_stock_deal_info.tail(20)], ignore_index=True)
        # # 測試抓取兩個股票資料用
        # if i == 2:
        #   break
      i += 1
df_alldatas

         date stock_id  Trading_Volume  Trading_money   open    max    min  \
0  2023-03-20     1435           67302        2700989  40.10  44.20  39.80
1  2023-03-21     1435           55650        2105853  35.90  40.10  35.85
2  2023-03-22     1435          161692        5674857  37.25  37.25  34.20
3  2023-03-23     1435           42130        1427894  35.00  35.00  33.20
4  2023-03-24     1435           44945        1473605  32.60  33.35  32.25

   close  spread  Trading_turnover
0  39.80    0.00               169
1  38.00   -1.80               139
2  35.35   -2.65               222
3  34.15   -1.20               105
4  32.25   -1.90               117
0    39.80
1    38.00
2    35.35
3    34.15
4    32.25
Name: close, dtype: float64
(0   NaN
1   NaN
2   NaN
3   NaN
4   NaN
dtype: float64, 0   NaN
1   NaN
2   NaN
3   NaN
4   NaN
dtype: float64, 0   NaN
1   NaN
2   NaN
3   NaN
4   NaN
dtype: float64)
           date stock_id  Trading_Volume  Trading_money   open    max    min  \
0    2022-12-28     1471          184194        1407268   7.69   7.72   7.60
1    2022-12-29     1471          145360        1097098   7.60   7.63   7.45
2    2022-12-30     1471           90700         696019   7.66   7.74   7.63
3    2023-01-03     1471          127990         976664   7.65   7.68   7.59
4    2023-01-04     1471           97534         744585   7.62   7.69   7.60
..          ...      ...             ...            ...    ...    ...    ...
109  2023-06-20     1471        13266372      149105032  10.95  12.05  10.35
110  2023-06-21     1471        19455332      243355960  11.75  12.95  11.35
111  2023-06-26     1471        17311704      240518403  13.55  14.20  13.45
112  2023-06-27     1471        29609942      422414332  14.60  15.00  13.55
113  2023-06-28     1471        11458471      157477904  14.00  14.15  13.45

     close  spread  Trading_turnover
0     7.62   -0.10               114
1     7.62    0.00               102
2     7.65    0.03                65
3     7.66    0.01                84
4     7.66    0.00                66
..     ...     ...               ...
109  11.80    0.80              4577
110  12.95    1.15              4586
111  14.20    1.25              3671
112  14.20    0.00             10364
113  13.85   -0.35              4795

[114 rows x 10 columns]
0       7.62
1       7.62
2       7.65
3       7.66
4       7.66
       ...
109    11.80
110    12.95
111    14.20
112    14.20
113    13.85
Name: close, Length: 114, dtype: float64
(0           NaN
1           NaN
2           NaN
3           NaN
4           NaN
         ...
109    0.413521
110    0.608523
111    0.854083
112    1.036739
113    1.140112
Length: 114, dtype: float64, 0           NaN
1           NaN
2           NaN
3           NaN
4           NaN
         ...
109    0.205245
110    0.285901
111    0.399537
112    0.526978
113    0.649604
Length: 114, dtype: float64, 0           NaN
1           NaN
2           NaN
3           NaN
4           NaN
         ...
109    0.208276
110    0.322622
111    0.454545
112    0.509762
113    0.490507
Length: 114, dtype: float64)
           date stock_id  Trading_Volume  Trading_money    open    max  \
0    2022-12-29     1519         2126831      103557053   48.25   49.3
1    2022-12-30     1519         6071864      297801994   49.80   50.9
2    2023-01-03     1519        25523058     1301451548   48.00   53.1
3    2023-01-04     1519        34258125     1901506559   53.10   57.6
4    2023-01-05     1519        66173040     3847162127   59.50   59.5
..          ...      ...             ...            ...     ...    ...
109  2023-06-21     1519        10029427     1638769407  163.50  166.0
110  2023-06-26     1519         8719544     1430945764  164.50  166.5
111  2023-06-27     1519        16875079     2699688078  164.00  168.0
112  2023-06-28     1519         8780986     1350489920  157.00  158.0
113  2023-06-29     1519         5640222      860519209  152.00  154.5

        min  close  spread  Trading_turnover
0     48.05   49.3    0.55              1479
1     48.30   48.3   -1.00              4304
2     47.15   52.4    4.10             14615
3     52.90   57.6    5.20             18131
4     56.50   56.9   -0.70             32384
..      ...    ...     ...               ...
109  161.50  163.5    1.50              6739
110  161.50  162.5   -1.00              6129
111  153.00  154.0   -8.50             12931
112  150.50  150.5   -3.50              6867
113  150.50  153.5    3.00              4254

[114 rows x 10 columns]
0       49.3
1       48.3
2       52.4
3       57.6
4       56.9
       ...
109    163.5
110    162.5
111    154.0
112    150.5
113    153.5
Name: close, Length: 114, dtype: float64
(0            NaN
1            NaN
2            NaN
3            NaN
4            NaN
         ...
109    11.400975
110    11.128740
111    10.110564
112     8.918425
113     8.122095
Length: 114, dtype: float64, 0            NaN
1            NaN
2            NaN
3            NaN
4            NaN
         ...
109    11.885483
110    11.734134
111    11.409420
112    10.911221
113    10.353396
Length: 114, dtype: float64, 0           NaN
1           NaN
2           NaN
3           NaN
4           NaN
         ...
109   -0.484508
110   -0.605395
111   -1.298856
112   -1.992796
113   -2.231301
Length: 114, dtype: float64)
           date stock_id  Trading_Volume  Trading_money   open    max    min  \
0    2022-10-19     1529         1374865       24215245  17.65  18.00  17.45
1    2022-10-20     1529         1059135       18262808  17.60  17.60  17.00
2    2022-10-21     1529         1693178       28782277  17.25  17.50  16.65
3    2022-10-24     1529         1477254       25490671  17.05  17.50  17.00
4    2022-10-25     1529         1318257       22355241  17.40  17.50  16.75
..          ...      ...             ...            ...    ...    ...    ...
112  2023-04-13     1529         9708534      339207490  35.10  35.20  34.00
113  2023-04-14     1529        52764554     1882687968  35.35  37.85  33.80
114  2023-04-17     1529        16059879      623248894  37.50  40.15  37.10
115  2023-04-18     1529        37141707     1559965534  43.25  43.90  40.25
116  2023-04-19     1529        31103811     1330423281  41.95  45.00  41.15

     close  spread  Trading_turnover
0    17.50   -0.20               625
1    17.25   -0.25               769
2    16.65   -0.60               852
3    17.25    0.60               762
4    16.85   -0.40               864
..     ...     ...               ...
112  35.20    3.20              4066
113  36.50    1.30             26339
114  40.15    3.65              8044
115  41.75    1.60             21258
116  42.25    0.50             17321

[117 rows x 10 columns]
0      17.50
1      17.25
2      16.65
3      17.25
4      16.85
       ...
112    35.20
113    36.50
114    40.15
115    41.75
116    42.25
Name: close, Length: 117, dtype: float64
(0           NaN
1           NaN
2           NaN
3           NaN
4           NaN
         ...
112    1.731605
113    2.141689
114    2.729741
115    3.286993
116    3.726013
Length: 117, dtype: float64, 0           NaN
1           NaN
2           NaN
3           NaN
4           NaN
         ...
112    1.262335
113    1.438206
114    1.696513
115    2.014609
116    2.356890
Length: 117, dtype: float64, 0           NaN
1           NaN
2           NaN
3           NaN
4           NaN
         ...
112    0.469270
113    0.703483
114    1.033228
115    1.272384
116    1.369124
Length: 117, dtype: float64)
           date stock_id  Trading_Volume  Trading_money   open    max    min  \
0    2022-10-28     1727          626252       14499481  23.10  24.05  22.65
1    2022-10-31     1727          261640        6083206  23.00  23.55  22.90
2    2022-11-01     1727          337270        7988883  23.20  23.85  23.20
3    2022-11-02     1727          262332        6289683  23.90  24.15  23.75
4    2022-11-03     1727          171461        4095613  23.75  24.00  23.60
..          ...      ...             ...            ...    ...    ...    ...
112  2023-04-24     1727         3731623      111682272  27.75  30.25  27.75
113  2023-04-25     1727        12879266      420559066  33.25  33.25  31.55
114  2023-04-26     1727        37633617     1303749432  35.55  36.55  33.30
115  2023-04-27     1727        18980017      742462686  38.10  40.20  37.65
116  2023-04-28     1727        36149830     1445873875  41.80  41.80  38.70

     close  spread  Trading_turnover
0    22.75   -0.60               377
1    23.20    0.45               201
2    23.75    0.55               222
3    23.95    0.20               212
4    24.00    0.05               122
..     ...     ...               ...
112  30.25    2.75              1486
113  33.25    3.00              4700
114  36.55    3.30             15008
115  40.20    3.65              7007
116  40.80    0.60             16402

[117 rows x 10 columns]
0      22.75
1      23.20
2      23.75
3      23.95
4      24.00
       ...
112    30.25
113    33.25
114    36.55
115    40.20
116    40.80
Name: close, Length: 117, dtype: float64
(0           NaN
1           NaN
2           NaN
3           NaN
4           NaN
         ...
112    0.561414
113    1.002152
114    1.599287
115    2.340070
116    2.941652
Length: 117, dtype: float64, 0           NaN
1           NaN
2           NaN
3           NaN
4           NaN
         ...
112    0.200248
113    0.360629
114    0.608361
115    0.954702
116    1.352092
Length: 117, dtype: float64, 0           NaN
1           NaN
2           NaN
3           NaN
4           NaN
         ...
112    0.361166
113    0.641523
114    0.990926
115    1.385368
116    1.589559
Length: 117, dtype: float64)
           date stock_id  Trading_Volume  Trading_money   open    max    min  \
0    2022-10-21     1810          528984        5428365  10.05  10.45  10.05
1    2022-10-24     1810          639391        6794031  10.95  10.95  10.45
2    2022-10-25     1810          310508        3267465  10.55  10.65  10.45
3    2022-10-26     1810          309693        3292948  10.55  10.70  10.55
4    2022-10-27     1810          504639        5449049  10.65  11.00  10.65
..          ...      ...             ...            ...    ...    ...    ...
111  2023-04-14     1810        13276835      303995971  22.95  22.95  22.15
112  2023-04-17     1810        15660510      392390197  25.15  25.20  24.30
113  2023-04-18     1810        20682838      569448865  27.30  27.70  27.05
114  2023-04-19     1810        53663450     1535371156  29.25  30.00  27.70
115  2023-04-20     1810        48490041     1379089779  28.40  29.80  27.10

     close  spread  Trading_turnover
0    10.30    0.00               312
1    10.50    0.20               344
2    10.55    0.05               174
3    10.55    0.00               162
4    10.95    0.40               324
..     ...     ...               ...
111  22.95    2.05              3945
112  25.20    2.25              4363
113  27.70    2.50              5147
114  27.80    0.10             21618
115  27.10   -0.70             21808

[116 rows x 10 columns]
0      10.30
1      10.50
2      10.55
3      10.55
4      10.95
       ...
111    22.95
112    25.20
113    27.70
114    27.80
115    27.10
Name: close, Length: 116, dtype: float64
(0           NaN
1           NaN
2           NaN
3           NaN
4           NaN
         ...
111    0.538984
112    0.953441
113    1.466722
114    1.860128
115    2.091314
Length: 116, dtype: float64, 0           NaN
1           NaN
2           NaN
3           NaN
4           NaN
         ...
111    0.099516
112    0.270301
113    0.509585
114    0.779694
115    1.042018
Length: 116, dtype: float64, 0           NaN
1           NaN
2           NaN
3           NaN
4           NaN
         ...
111    0.439468
112    0.683140
113    0.957137
114    1.080434
115    1.049296
Length: 116, dtype: float64)
           date stock_id  Trading_Volume  Trading_money   open    max    min  \
0    2022-12-28     2059          232232       90017558  393.0  395.5  385.5
1    2022-12-29     2059          150567       57761297  382.0  386.0  381.0
2    2022-12-30     2059          107065       41290041  390.0  390.0  384.0
3    2023-01-03     2059          182308       69689320  384.0  384.5  380.0
4    2023-01-04     2059          276800      108893478  382.5  400.0  382.5
..          ...      ...             ...            ...    ...    ...    ...
109  2023-06-20     2059         3600742     1798800580  469.0  507.0  469.0
110  2023-06-21     2059         1992920     1109893440  557.0  557.0  551.0
111  2023-06-26     2059         4298992     2571841443  565.0  612.0  565.0
112  2023-06-27     2059         3521316     2132154264  614.0  619.0  592.0
113  2023-06-28     2059         6015297     3893586534  667.0  667.0  608.0

     close  spread  Trading_turnover
0    386.5    -7.5               430
1    385.5    -1.0               320
2    384.0    -1.5               180
3    382.5    -1.5               320
4    394.0    11.5               428
..     ...     ...               ...
109  507.0    46.0              4122
110  557.0    50.0              1209
111  612.0    55.0              3437
112  607.0    -5.0              3736
113  634.0    27.0              5355

[114 rows x 10 columns]
0      386.5
1      385.5
2      384.0
3      382.5
4      394.0
       ...
109    507.0
110    557.0
111    612.0
112    607.0
113    634.0
Name: close, Length: 114, dtype: float64
(0            NaN
1            NaN
2            NaN
3            NaN
4            NaN
         ...
109    16.056659
110    22.776281
111    32.168847
112    38.762239
113    45.640112
Length: 114, dtype: float64, 0            NaN
1            NaN
2            NaN
3            NaN
4            NaN
         ...
109    11.474368
110    13.734751
111    17.421570
112    21.689704
113    26.479786
Length: 114, dtype: float64, 0            NaN
1            NaN
2            NaN
3            NaN
4            NaN
         ...
109     4.582291
110     9.041530
111    14.747277
112    17.072535
113    19.160327
Length: 114, dtype: float64)
           date stock_id  Trading_Volume  Trading_money   open    max    min  \
0    2023-01-30     2316          184743        5134259  27.75  28.10  27.60
1    2023-01-31     2316           78125        2163168  27.65  27.90  27.60
2    2023-02-01     2316          136513        3821230  27.90  28.05  27.80
3    2023-02-02     2316           42709        1199318  28.20  28.20  28.00
4    2023-02-03     2316          125615        3507903  27.95  28.00  27.90
..          ...      ...             ...            ...    ...    ...    ...
112  2023-07-17     2316         4390319      132900913  28.20  30.70  28.20
113  2023-07-18     2316         7594650      254155335  33.00  33.75  31.95
114  2023-07-19     2316        24639054      870514464  33.00  37.10  32.30
115  2023-07-20     2316        30201067     1152316894  37.10  39.10  36.50
116  2023-07-21     2316        24473731     1017062430  39.90  42.80  39.10

     close  spread  Trading_turnover
0    27.80    0.40               166
1    27.90    0.10                88
2    28.05    0.15               114
3    28.10    0.05                76
4    28.00   -0.10               113
..     ...     ...               ...
112  30.70    2.75              2169
113  33.75    3.05              4248
114  37.10    3.35             10049
115  38.95    1.85             13952
116  42.80    3.85             11808

[117 rows x 10 columns]
0      27.80
1      27.90
2      28.05
3      28.10
4      28.00
       ...
112    30.70
113    33.75
114    37.10
115    38.95
116    42.80
Name: close, Length: 117, dtype: float64
(0           NaN
1           NaN
2           NaN
3           NaN
4           NaN
         ...
112    0.060441
113    0.490277
114    1.088693
115    1.692709
116    2.453774
Length: 117, dtype: float64, 0           NaN
1           NaN
2           NaN
3           NaN
4           NaN
         ...
112   -0.086333
113    0.028989
114    0.240930
115    0.531286
116    0.915783
Length: 117, dtype: float64, 0           NaN
1           NaN
2           NaN
3           NaN
4           NaN
         ...
112    0.146774
113    0.461288
114    0.847763
115    1.161424
116    1.537990
Length: 117, dtype: float64)
           date stock_id  Trading_Volume  Trading_money   open    max    min  \
0    2023-01-30     2329         1480593       26869280  18.15  18.30  17.95
1    2023-01-31     2329         4211106       78102705  18.10  18.80  18.05
2    2023-02-01     2329         6149227      116194097  18.70  19.10  18.60
3    2023-02-02     2329        25652051      507540482  19.10  20.20  19.00
4    2023-02-03     2329         7343636      145469119  19.90  20.00  19.65
..          ...      ...             ...            ...    ...    ...    ...
118  2023-07-25     2329        25909748     1007534908  38.60  39.05  38.00
119  2023-07-26     2329       156012252     6354397468  42.00  42.70  38.55
120  2023-07-27     2329        75133554     3252891814  41.80  43.85  41.25
121  2023-07-28     2329       151238626     7028280184  45.50  48.20  45.05
122  2023-07-31     2329       148816436     7092048466  50.80  51.20  43.70

     close  spread  Trading_turnover
0    18.10    0.25               873
1    18.60    0.50              1644
2    18.85    0.25              2166
3    20.10    1.25              8979
4    19.80   -0.30              3384
..     ...     ...               ...
118  39.05    3.55              8559
119  39.90    0.85             69329
120  43.85    3.95             27146
121  48.20    4.35             72169
122  44.95   -3.25             74219

[123 rows x 10 columns]
0      18.10
1      18.60
2      18.85
3      20.10
4      19.80
       ...
118    39.05
119    39.90
120    43.85
121    48.20
122    44.95
Name: close, Length: 123, dtype: float64
(0           NaN
1           NaN
2           NaN
3           NaN
4           NaN
         ...
118    3.171220
119    3.579295
120    4.173321
121    4.938176
122    5.221886
Length: 123, dtype: float64, 0           NaN
1           NaN
2           NaN
3           NaN
4           NaN
         ...
118    2.374852
119    2.615740
120    2.927257
121    3.329440
122    3.707930
Length: 123, dtype: float64, 0           NaN
1           NaN
2           NaN
3           NaN
4           NaN
         ...
118    0.796368
119    0.963554
120    1.246065
121    1.608735
122    1.513957
Length: 123, dtype: float64)
           date stock_id  Trading_Volume  Trading_money   open    max    min  \
0    2023-01-30     2356        15837244      405306790  26.00  26.10  25.35
1    2023-01-31     2356        11271445      286121976  25.50  25.75  25.20
2    2023-02-01     2356         6731564      171393265  25.25  25.60  25.25
3    2023-02-02     2356         8501690      216729830  25.60  25.70  25.35
4    2023-02-03     2356         4256059      109083749  25.45  25.70  25.40
..          ...      ...             ...            ...    ...    ...    ...
110  2023-07-13     2356       166909086     8553834839  48.90  52.30  48.90
111  2023-07-14     2356       217644729    11904493253  53.80  55.80  52.20
112  2023-07-17     2356       108443011     6515917198  57.90  61.30  57.40
113  2023-07-18     2356       298243826    19236186991  65.00  67.40  61.30
114  2023-07-19     2356       279515419    18628384771  69.00  70.70  61.50

     close  spread  Trading_turnover
0    25.55   -0.15              8693
1    25.25   -0.30              3929
2    25.50    0.25              2986
3    25.45   -0.05              3913
4    25.65    0.20              2557
..     ...     ...               ...
110  50.80    3.20             68970
111  55.80    5.00             91523
112  61.30    5.50             39544
113  65.50    4.20            131488
114  63.60   -1.90            132305

[115 rows x 10 columns]
0      25.55
1      25.25
2      25.50
3      25.45
4      25.65
       ...
110    50.80
111    55.80
112    61.30

,date,stock_id,Trading_Volume,Trading_money,open,max,min,close,spread,Trading_turnover,...,MACD_macdhist,RSI10,BOLL_Upper,BOLL_Middle,BOLL_Lower,CCI10,DX10,SMA5,SMA10,SMA20
0,2023-05-30,1471,542514,4900735,9.17,9.17,9.00,9.05,-0.07,321,...,-0.046650,45.587036,9.226061,9.128,8.931878,-56.737589,13.650578,9.128,9.117,9.2285
1,2023-05-31,1471,431485,3927339,9.12,9.15,9.06,9.12,0.07,251,...,-0.039771,48.596308,9.150780,9.094,8.980439,-56.161616,13.650578,9.094,9.129,9.1880
2,2023-06-01,1471,461854,4218377,9.12,9.17,9.10,9.14,0.02,260,...,-0.032590,49.483227,9.137558,9.088,8.988884,-19.023987,11.265397,9.088,9.135,9.1565
3,2023-06-02,1471,2006001,18726302,9.27,9.80,9.19,9.58,0.44,805,...,0.001281,64.468957,9.393458,9.202,8.819085,241.506647,35.853231,9.202,9.189,9.1640
4,2023-06-05,1471,1881206,18051341,9.66,9.67,9.50,9.58,0.00,801,...,0.022023,64.468957,9.529423,9.294,8.823154,174.683544,35.853231,9.294,9.232,9.1710
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
975,2023-02-22,8996,15275215,3666810981,238.00,246.50,227.50,242.00,3.00,10027,...,0.225042,73.163264,241.222650,237.900,231.254701,100.214362,30.625927,237.900,235.350,222.5500
976,2023-02-23,8996,13890045,3293631596,242.00,245.00,233.00,234.00,-8.00,9645,...,-0.483204,60.817638,240.129286,236.700,229.841429,44.673540,30.625927,236.700,235.750,224.9000
977,2023-02-24,8996,10135285,2415411520,238.50,240.50,234.50,239.00,5.00,6194,...,-0.709288,64.927475,240.756810,238.000,232.486380,56.540084,30.625927,238.000,236.750,226.5750
978,2023-03-01,8996,12219884,2994677556,239.50,250.50,238.50,244.50,5.50,9066,...,-0.587785,68.912816,243.215679,239.700,232.668642,242.042042,50.041759,239.700,237.500,228.8000
979,2023-03-02,8996,5355469,1308148387,245.50,248.00,241.00,241.00,-3.50,4091,...,-0.827811,63.787759,243.627038,240.100,233.045923,142.857143,50.041759,240.100,238.250,230.2250

In [12]:
df_alldatas.count()

date                980
stock_id            980
Trading_Volume      980
Trading_money       980
open                980
max                 980
min                 980
close               980
spread              980
Trading_turnover    980
MACD_macd           980
MACD_macdsignal     980
MACD_macdhist       980
RSI10               980
BOLL_Upper          980
BOLL_Middle         980
BOLL_Lower          980
CCI10               980
DX10                980
SMA5                980
SMA10               980
SMA20               980
dtype: int64

In [13]:
df_alldatas = pd.merge(df_alldatas,df_punishdata, left_on='stock_id', right_on='證券代號')

,date,stock_id,Trading_Volume,Trading_money,open,max,min,close,spread,Trading_turnover,...,RSI10,BOLL_Upper,BOLL_Middle,BOLL_Lower,CCI10,DX10,SMA5,SMA10,SMA20,代碼
0,2023-05-30,1471,542514,4900735,9.17,9.17,9.00,9.05,-0.07,321,...,45.587036,9.226061,9.128,8.931878,-56.737589,13.650578,9.128,9.117,9.2285,1
1,2023-05-31,1471,431485,3927339,9.12,9.15,9.06,9.12,0.07,251,...,48.596308,9.150780,9.094,8.980439,-56.161616,13.650578,9.094,9.129,9.1880,1
2,2023-06-01,1471,461854,4218377,9.12,9.17,9.10,9.14,0.02,260,...,49.483227,9.137558,9.088,8.988884,-19.023987,11.265397,9.088,9.135,9.1565,1
3,2023-06-02,1471,2006001,18726302,9.27,9.80,9.19,9.58,0.44,805,...,64.468957,9.393458,9.202,8.819085,241.506647,35.853231,9.202,9.189,9.1640,1
4,2023-06-05,1471,1881206,18051341,9.66,9.67,9.50,9.58,0.00,801,...,64.468957,9.529423,9.294,8.823154,174.683544,35.853231,9.294,9.232,9.1710,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1175,2023-02-24,8996,10135285,2415411520,238.50,240.50,234.50,239.00,5.00,6194,...,64.927475,240.756810,238.000,232.486380,56.540084,30.625927,238.000,236.750,226.5750,4
1176,2023-03-01,8996,12219884,2994677556,239.50,250.50,238.50,244.50,5.50,9066,...,68.912816,243.215679,239.700,232.668642,242.042042,50.041759,239.700,237.500,228.8000,3
1177,2023-03-01,8996,12219884,2994677556,239.50,250.50,238.50,244.50,5.50,9066,...,68.912816,243.215679,239.700,232.668642,242.042042,50.041759,239.700,237.500,228.8000,4
1178,2023-03-02,8996,5355469,1308148387,245.50,248.00,241.00,241.00,-3.50,4091,...,63.787759,243.627038,240.100,233.045923,142.857143,50.041759,240.100,238.250,230.2250,3
1179,2023-03-02,8996,5355469,1308148387,245.50,248.00,241.00,241.00,-3.50,4091,...,63.787759,243.627038,240.100,233.045923,142.857143,50.041759,240.100,238.250,230.2250,4

In [16]:
df_alldatas.drop(columns=["公布日期", "證券代號",	"證券名稱",	"處置條件",	"處置開始時間",	"處置結束時間"],inplace=True)

In [17]:
df_alldatas

,date,stock_id,Trading_Volume,Trading_money,open,max,min,close,spread,Trading_turnover,...,RSI10,BOLL_Upper,BOLL_Middle,BOLL_Lower,CCI10,DX10,SMA5,SMA10,SMA20,代碼
0,2023-05-30,1471,542514,4900735,9.17,9.17,9.00,9.05,-0.07,321,...,45.587036,9.226061,9.128,8.931878,-56.737589,13.650578,9.128,9.117,9.2285,1
1,2023-05-31,1471,431485,3927339,9.12,9.15,9.06,9.12,0.07,251,...,48.596308,9.150780,9.094,8.980439,-56.161616,13.650578,9.094,9.129,9.1880,1
2,2023-06-01,1471,461854,4218377,9.12,9.17,9.10,9.14,0.02,260,...,49.483227,9.137558,9.088,8.988884,-19.023987,11.265397,9.088,9.135,9.1565,1
3,2023-06-02,1471,2006001,18726302,9.27,9.80,9.19,9.58,0.44,805,...,64.468957,9.393458,9.202,8.819085,241.506647,35.853231,9.202,9.189,9.1640,1
4,2023-06-05,1471,1881206,18051341,9.66,9.67,9.50,9.58,0.00,801,...,64.468957,9.529423,9.294,8.823154,174.683544,35.853231,9.294,9.232,9.1710,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1175,2023-02-24,8996,10135285,2415411520,238.50,240.50,234.50,239.00,5.00,6194,...,64.927475,240.756810,238.000,232.486380,56.540084,30.625927,238.000,236.750,226.5750,4
1176,2023-03-01,8996,12219884,2994677556,239.50,250.50,238.50,244.50,5.50,9066,...,68.912816,243.215679,239.700,232.668642,242.042042,50.041759,239.700,237.500,228.8000,3
1177,2023-03-01,8996,12219884,2994677556,239.50,250.50,238.50,244.50,5.50,9066,...,68.912816,243.215679,239.700,232.668642,242.042042,50.041759,239.700,237.500,228.8000,4
1178,2023-03-02,8996,5355469,1308148387,245.50,248.00,241.00,241.00,-3.50,4091,...,63.787759,243.627038,240.100,233.045923,142.857143,50.041759,240.100,238.250,230.2250,3
1179,2023-03-02,8996,5355469,1308148387,245.50,248.00,241.00,241.00,-3.50,4091,...,63.787759,243.627038,240.100,233.045923,142.857143,50.041759,240.100,238.250,230.2250,4

In [18]:
output_file_name = 'get_stocks_result.csv'
df_alldatas.to_csv(output_file_name,sep=',',index=False,header=True)